footer {
    background-color: #222;
    color: #ccc;
    font-size: 0.9rem;
    border-top: 1px solid #444;
    padding: 15px 0;
    text-align: center;
    margin-top: auto;
}


footer p {
    margin: 0;
    font-family: 'Arial', sans-serif;
}