.hero {
    background-image: url("../images/hero_background.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 80vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.hero .container {
    padding-top: 5%;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 1;
}

.hero h2, .hero p {
    z-index: 2;
    position: relative;
}

.hero form {
    z-index: 2;
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 30px;
}

.hero .form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 10px;
    font-size: 1rem;
    height: 50px;
}

.hero .btn {
    font-size: 1.2rem;
    padding: 0 20px;
    border-radius: 5px;
    background: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .btn:hover {
    background: #0056b3;
}

.hero .form-check {
    font-size: 1rem;
    margin-top: 15px;
}

.hero .form-check-input {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #ced4da;
    background-color: transparent;
    margin-top: 0;
    align-self: center;
}

.hero .form-check-input:checked {
    background-color: #007bff;
    border-color: #007bff;
}

.fields-container {
    gap: 10px;
}

@media (max-width: 991px) {
    .hero form .fields-container {
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
    }

    .hero .form-control, .hero .btn {
        width: 100%;
        font-size: 1rem; 
    }

    .checkbox-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start; 
        gap: 10px;
        width: 100%;
    }

    .checkbox-container .form-check-input {
        margin-top: 0;
        flex-shrink: 0;
        align-self: flex-start;
    }

    .checkbox-container .form-check-input {
        flex-shrink: 0;
    }

    .checkbox-container .form-check-label {
        white-space: normal;
        font-size: 1rem;
    }
}

