#prices {
    background-color: #f9f9f9;
    padding: 50px 20px;
}

#prices h2, #prices h3 {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 40px;
    text-align: center;
}

#prices .prices-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 30px;
    position: relative;
    max-width: 70%;
    margin: 0 auto;
}

#prices .prices-container::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #ddd;
    left: 50%;
    transform: translateX(-50%);
}

#prices .price-item {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#prices .price-item-title {
    font-size: 1.3rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#prices .price-item-description {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    min-height: 2.4em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 75%;
}

#prices .price-item-price {
    font-size: 1.1rem;
    font-weight: 700;
    color: #333;
    text-align: right;
    margin-left: auto;
}

@media (max-width: 768px) {
    #prices .prices-container {
        grid-template-columns: 1fr;
        padding: 0 10px;
    }

    #prices .prices-container::before {
        display: none;
    }
}

@media (max-width: 1440px) {
    #prices .price-item-description {
        -webkit-line-clamp: 3;
        min-height: 3.6em;
    }

    #prices .prices-container {
        max-width: 95%;
    }
}

@media (max-width: 480px) { 
    #prices h3 {
        font-size: 1.5rem;
    }

    #prices .price-item-title {
        font-size: 0.9rem;
    }

    #prices .price-item-description {
        -webkit-line-clamp: 4;
        font-size: 0.8rem;
    }

    #prices .price-item-price {
        font-size: 0.9rem; 
    }
    
    #prices .prices-container {
        grid-template-columns: 1fr;
        padding: 0 5px;
    }
}
