#products {
    background-color: #f9f9f9;
    padding: 60px 0;
}

#products h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 40px;
    color: #333;
    text-align: center;
}

.swiper {
    width: 100%;
    padding: 1rem!important;
}

.product-card {
    width: 100%; 
    aspect-ratio: 1 / 1;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.product-card img {
    max-width: 90%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin: 1.5rem;
}

.product-card h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin: 10px 0;
}

.product-card p {
    font-size: 1rem;
    color: #666;
    padding: 0 15px;
    flex-grow: 1;
    text-align: left;
}

#product .mySwiper {
    padding: 1rem!important;
}

.swiper-button-prev, 
.swiper-button-next {
    all: unset;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    color: inherit;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: none;
}

@media (max-width: 767px) { 
    #products .container {
        max-width: 400px;
    }
}

@media (max-width: 480px) { 
    #products h3 {
        font-size: 1.5rem;
    }

    .product-card h3 {
        font-size: 0.9rem; 
    }

    .product-card p {
        font-size: 0.8rem; 
    }

    #products .swiper {
        width: 80%;
    }
}

#products .swiper-button-prev {
    left: 0px!important;
}

#products .swiper-button-next {
    right: 0px!important;
}
