#reviews {
    background-color: #f9f9f9;
    padding: 60px 0;
}

#reviews h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 40px;
    color: #333;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.swiper {
    width: 100%;
    padding: 1rem!important;
}

.review-item {
    width: 100%;
    text-align: center;
}

.review-item img {
    width: 85%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.review-item img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.swiper-button-prev, 
.swiper-button-next {
    all: unset;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    color: inherit;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    content: none;
}

@media (max-width: 480px) { 
    #reviews h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 767px) {
    .swiper {
        width: 80%;
    }
}

#reviews .swiper-button-prev {
    left: 0px!important;
}

#reviews .swiper-button-next {
    right: 0px!important;
}
